.fi-simple-main-ctn {
    background: url("/images/background-login1.jpg") no-repeat center center
        fixed;
    background-size: cover;
}

.fi-login-page .fi-card {
    background-color: rgba(255, 255, 255, 0.9); /* supaya form tetap jelas */
    backdrop-filter: blur(5px);
}

.fi-login-page h1 {
    color: #000;
    font-weight: bold;
}
